body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f0f0f0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

.video-player {
    flex: 3;
    position: relative; /* Add position relative to contain absolute child */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-player video {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    background-color: #000;
}

.status-box {
    position: absolute; /* Position absolute to place it on top-left */
    top: 10px;
    left: 10px;
    display: flex;
}

.status-item {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1px;
    background-color: grey;
    color: white;
    text-align: center;
    z-index: 10;
    /* cursor: pointer; */
    max-width: 150px; 
    word-wrap: break-word; 
    white-space: normal; 
}

.status-item.active-1 {
    background-color: red;
}

.status-item.active-2 {
    background-color: yellow;
    color: black; /* Change text color to black for better visibility */
}

.status-item.active-3 {
    background-color: green;
}

.video-list {
    flex: 1;
    padding: 10px;
    border-left: 1px solid #ddd;
    overflow-y: auto;
}

.video-list h2 {
    margin-top: 0;
    text-align: center;
}

.video-list ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.video-list li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ddd;
}

.video-list li:hover {
    background-color: #f0f0f0;
}
